@using Microsoft.AspNetCore.Http
@{
    Layout = "_Layout";
    object exceptionContext = null;
    BasicExceptionContext context = new BasicExceptionContext();
    ViewContext.HttpContext.Items.TryGetValue(nameof(BasicExceptionContext), out exceptionContext);

    var exceptionMessage = "";
    var exceptionDetail = "";
    if (exceptionContext != null && exceptionContext is BasicExceptionContext)
    {
        context = exceptionContext as BasicExceptionContext;
        exceptionMessage = !string.IsNullOrEmpty(context.Message) ? context.Message : "Bir hata oluştu!";
        exceptionDetail = !string.IsNullOrEmpty(context.ExceptionDetail) ? context.ExceptionDetail : "";
    }
}

<div class="my-3 p-5 bg-white rounded box-shadow text-center">
        <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> @ViewBag.StatusCode</div>
        <h1 class="h2 mb-3">@Html.Raw(exceptionMessage)</h1>
        <p class="h4 text-muted font-weight-normal mb-7">
            @if (context.IsOperationalException)
            {
                @*<strong>@Html.Raw(context.Message)</strong>*@
            }
            else
            {
                @context.LogGuid <br /> @exceptionDetail <br />
            }
        </p>

        <a class="btn btn-secondary btn-lg" href="javascript:history.back()">
            <i class="fe fe-arrow-left mr-2"></i>Back
        </a>

        <a class="btn btn-primary btn-lg" href="/">
            <i class="fe fe-home mr-2"></i>Home
        </a>
</div>
