@{
    ViewData["Title"] = @Localizer["About"];
}
<div class="my-3 p-3 bg-white rounded box-shadow">

    <h2>@Localizer["About"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>
</div>