@using NetCoreStack.Localization;
@using System
@using System.Globalization
@{
    ViewData["Title"] = @Localizer["Api"];
}

<div class="my-3 p-3 bg-white rounded box-shadow">

    <h1>@Localizer["Api"]</h1>
    <hr />

    <div class="alert alert-success mt-3" role="alert">
        <h6 class="alert-heading">All Languages (GET)</h6>
        <hr />
        <p><code>/NetCoreStackLocalization/GetAllLanguage <a asp-area="" asp-controller="NetCoreStackLocalization" asp-action="GetAllLanguage">(link)</a></code></p>
    </div>

    <div class="alert alert-success mt-3" role="alert">
        <h6 class="alert-heading">All Resources (GET)</h6>
        <hr />
        <p><code>/NetCoreStackLocalization/GetAllResource <a asp-area="" asp-controller="NetCoreStackLocalization" asp-action="GetAllResource">(link)</a></code></p>
    </div>

    <div class="alert alert-success mt-3" role="alert">
        <h6 class="alert-heading">All Resources By LanguageId (GET)</h6>
        <hr />
        <p><code>/NetCoreStackLocalization/GetResourceByLanguageId?Id={id} <a asp-area="" asp-controller="NetCoreStackLocalization" asp-action="GetAllResource" asp-route-id="1">(link)</a></code></p>
    </div>

    <div class="alert alert-success mt-3" role="alert">
        <h6 class="alert-heading">Create Language (POST)</h6>
        <hr />
        <p><code>/NetCoreStackLocalization/CreateLanguage</code></p>
        <p>
            <code>
                {
                "CultureName": "de-DE",
                "DisplayName": "German - Germany",
                "Country": "German - Germany",
                "Region": "Germany"
                }
            </code>
        </p>
    </div>

    <div class="alert alert-success mt-3" role="alert">
        <h6 class="alert-heading">Create Language (POST)</h6>
        <hr />
        <p><code>/NetCoreStackLocalization/CreateResource</code></p>
        <p>
            <code>
                {
                "LanguageId": 4,
                "Key": "Test",
                "Value": "German Test",
                "Comment": "German Test"
                }
            </code>
        </p>
    </div>

</div>

@section Styles{
    <style>
        .alert hr {margin:5px 0;}
        .alert p {margin:5px 0;}
    </style>
}

