@using NetCoreStack.Localization.Components.LanguageSelector.Models
@using NetCoreStack.Localization
@model LanguageSelectorModel

<select id="Localization_@Model.Name" name="@Model.Name" class="netcoreStack-languageSelector form-control" @if (!Model.SetCookieWithJavaScript) { <text>onchange="this.form.submit();"</text> }>
    @{
    if (Model != null && Model.Languages != null)
    {
        foreach (var item in Model.Languages)
        {
                <option value="@item.CultureName" @if (item.IsSelected) { <text> selected</text> }> @item.DisplayName</option>
            }
        }
    }
</select>